


<img src="https://images.pexels.com/photos/814064/pexels-photo-814064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
<div class="container details">
  <div class="row">
    <div class="col-md-10">
      <div>
        <h1>Choice Screening strives to provide the best service possible with every contact!</h1>
        <p>We operate in an industry built on trust. This can only be achieved through communication and experienced support – from the first contact past your ten-year anniversary.</p>
        <h2>At Choice you always talk to a human!</h2>
        <p>Have questions about background screening? Our entire team receives specialized training regularly to ensure you're receiving the best information possible. From basic questions to complex compliance inquiries, we're here to help!
        Interested in learning more about our services? Our Account Executives take the time to discuss your existing background screening program and help you make smart decisions that best meet your needs. </p>
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <h1>Backr</h1>
        <p>123 Fake St</p>
        <p>Suite 216 Box </p>
        <p>Portland Oregon 97086</p>
        <h1>Direct Contact</h1>
        <p>503.333.1111</p>
        <p>1.800.938.2475</p>
        <p><a routerLink="">frankngomusic@gmail.com</a></p>
        <h1>Departments</h1>
        <p><a routerLink="">customerservicebackr@email.com</a></p>
        <p><a routerLink="">careersbackr@email.com</a></p>
        <p><a routerLink="">supportbackr@email.com</a></p>
      </div>
    </div>
  </div>
</div>
