<img src="https://images.pexels.com/photos/37403/bora-bora-french-polynesia-sunset-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
<div class="container">

  <h1>Future founder of Choice Screening, Matthew Mitchell, was looking for something…</h1>
  <p>...a business that was his; one that he could be passionate about. He wanted to find a way to make “work” something people enjoyed doing. “Where to start?” he asked.

  Lately, he’d had conversation after conversation that was more like a Bill Murray movie than reality. People kept complaining about hiring the wrong person – under qualified, didn’t meet expectations, not a good fit. The list went on. It was completely unrelated to sports sales and marketing (where Matt was working) so it was kind of strange.</p>

  <p>Our story continues a short time later with a teeny tiny staff of three. Matt got to work creating Choice Screening from the ground up, starting with our mission:

  To enhance organizations through strategic application of the right background screening services. We will accomplish this by offering a variety of industry-leading products supported by innovative technology and high quality customer service and education. This enables our business and non-profit clients to strengthen and simplify their employee and volunteer management practices, as well as property managers to find and retain quality tenants.

  Over a decade later... We still embody our mission and we've added our core pillars. Matt's (much larger) team is still dedicated to background screening and the clients Choice serves. And, every single employee still knows he'll do anything to make "work" feel more like home!</p>
</div>
