<div class="titleText">
  <h1>Get the tech that gets people talking</h1>
  <h2>With both live crowdfunding campaigns there’s no better place to start the hunt for cool and clever innovations</h2>
</div>
<img src="https://images.pexels.com/photos/889930/pexels-photo-889930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">


<h2 class="aboutText">Find, fund, and shop the next big thing</h2>

<div class="container aboutInfo">
  <p>This is where new and groundbreaking ideas take flight – where you find and fund the next big thing. With thousands of crowdfunding and InDemand campaigns launching every week, there's great tech, design, and much more around every corner – often with special perks and pricing for early backers.</p>
</div>
