<ul>
  <li><a id="logo" > {{ title }}</a></li>
  <li><a id="navLinks" routerLink="about">What We Do </a></li>
  <li><a id="navLinks" routerLink="">Start a Campaign</a></li>
  <li><a id="navLinks" routerLink="askreddit">Contact Us</a></li>
  <li><a id="navLinks" routerLink="worldnews">About Us</a></li>
  <li><a id="navLinks" routerLink="about">Log In </a></li>
  <li><a id="navLinks" routerLink="marketplace">Sign Up</a></li>
</ul>
<img class="resize" src="http://www.promocodesforyou.com/promos/uploaded_files/camping_checklist_twilight.min.jpg?width=5000&height=3535" alt="">

<router-outlet></router-outlet>
