<ul>
  <li><a id="logo" > {{ title }}</a></li>
  <li><a id="navLinks" routerLink="about">What We Do </a></li>
  <li><a id="navLinks" routerLink="">Start a Campaign</a></li>
  <li><a id="navLinks" routerLink="askreddit">Contact Us</a></li>
  <li><a id="navLinks" routerLink="worldnews">About Us</a></li>
  <li><a id="navLinks" routerLink="about">Log In </a></li>
  <li><a id="navLinks" routerLink="marketplace">Sign Up</a></li>
</ul>
<img class="resize" src="http://www.promocodesforyou.com/promos/uploaded_files/camping_checklist_twilight.min.jpg?width=5000&height=3535" alt="">

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul>
        <li><a class="sideBarTitle" routerLink="">Filter results</a></li><br>
        <li><a class="sideBar" routerLink="">All Categories</a></li><br>
        <li><a class="sideBar" routerLink="">Tech & Innovation</a></li><br>
        <li><a class="sideBar" routerLink="">Creative Works</a></li><br>
        <li><a class="sideBar" routerLink="">Community Projects</a></li><br>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a class="sideBarTitle" routerLink="">Filter results</a></li><br>
        <li><a class="sideBar" routerLink="">All Categories</a></li><br>
        <li><a class="sideBar" routerLink="">Tech & Innovation</a></li><br>
        <li><a class="sideBar" routerLink="">Creative Works</a></li><br>
        <li><a class="sideBar" routerLink="">Community Projects</a></li><br>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a class="sideBarTitle" routerLink="">Filter results</a></li><br>
        <li><a class="sideBar" routerLink="">All Categories</a></li><br>
        <li><a class="sideBar" routerLink="">Tech & Innovation</a></li><br>
        <li><a class="sideBar" routerLink="">Creative Works</a></li><br>
        <li><a class="sideBar" routerLink="">Community Projects</a></li><br>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a class="sideBarTitle" routerLink="">Filter results</a></li><br>
        <li><a class="sideBar" routerLink="">All Categories</a></li><br>
        <li><a class="sideBar" routerLink="">Tech & Innovation</a></li><br>
        <li><a class="sideBar" routerLink="">Creative Works</a></li><br>
        <li><a class="sideBar" routerLink="">Community Projects</a></li><br>
      </ul>
    </div>
  </div>
</div>
